@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1rem;
}

a {
  text-decoration: none;
}

p {
  padding: 0.5rem 0;
}

/* Utilities */
.text-primary {
  color: #FE3523;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.btn {
  display: inline-block;
  color: #fff;
  padding: 1rem 2rem;
  background-color: #FE3523;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(223, 47, 31);
}

/* Navbar */
#navbar {
  background-color: #333;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .container .logo {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  color: #fff;
}

#navbar .container .logo img {
  width: 1.7rem;
}

#navbar .container ul {
  display: flex;
  list-style: none;
  padding: 1rem 0;
}

#navbar .container ul li {
  padding: 0.5rem;
}

#navbar .container ul li:last-child {
  padding-right: 0;
}

#navbar .container ul li a {
  padding: 0.8rem;
  color: #fff;
  border-radius: 5px;
}

#navbar .container ul li a:hover {
  background-color: #FE3523;
}

/* Header: Showcase */
#showcase {
  background: url('../img/dishes.jpg') no-repeat center center/cover;
  height: 90vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: #fff;
  /* Overlay */
  background-color: rgba(0, 0, 0, 0.5);
}

#showcase .showcase-content h2 {
  font-size: 4rem;
  padding: 1.5rem;
}

#showcase .showcase-content p {
  font-size: 1.3rem;
  line-height: 2rem;
}